In [1]:
import pandas as pd

df = pd.read_csv("230228 Humantelligence Test_May 18, 2023_18.25.csv")

df

,StartDate,EndDate,Status,Progress,Duration (in seconds),Finished,RecordedDate,DistributionChannel,UserLanguage,prolific.id,...,self_importance,education,education_6_TEXT,income,zipcode,econPoli,socialPoli,overPoli,attcheck2,PROLIFIC_PID
0,Start Date,End Date,Response Type,Progress,Duration (in seconds),Finished,Recorded Date,Distribution Channel,User Language,Please enter your Prolific ID:,...,My racial identity is important to how I view ...,What is the highest degree or level of school ...,What is the highest degree or level of school ...,About how much is your average household income?,Zip code (of current permanent residence),How would you describe YOUR economic policy re...,How would you describe YOUR social policy rela...,How would you describe YOUR overall political ...,We appreciate the time you took on this survey...,PROLIFIC_PID
1,"{""ImportId"":""startDate"",""timeZone"":""America/Lo...","{""ImportId"":""endDate"",""timeZone"":""America/Los_...","{""ImportId"":""status""}","{""ImportId"":""progress""}","{""ImportId"":""duration""}","{""ImportId"":""finished""}","{""ImportId"":""recordedDate"",""timeZone"":""America...","{""ImportId"":""distributionChannel""}","{""ImportId"":""userLanguage""}","{""ImportId"":""QID298_TEXT""}",...,"{""ImportId"":""QID312""}","{""ImportId"":""QID297""}","{""ImportId"":""QID297_6_TEXT""}","{""ImportId"":""QID306""}","{""ImportId"":""QID307_TEXT""}","{""ImportId"":""QID212""}","{""ImportId"":""QID213""}","{""ImportId"":""QID214""}","{""ImportId"":""QID291""}","{""ImportId"":""PROLIFIC_PID""}"
2,5/9/23 10:47,5/9/23 10:54,IP Address,100,415,TRUE,5/9/23 10:54,anonymous,EN,601dc945a5824c1e2425bd2a,...,Neither agree nor disagree 4,"Bachelor's degree (e.g., B.A., B.S.)",NaN,"less than $10,000",40219,Moderately Conservative,Moderately Conservative,Moderately Conservative,"Yes, I answered all questions honestly.",601dc945a5824c1e2425bd2a
3,5/9/23 11:01,5/9/23 11:07,IP Address,100,332,TRUE,5/9/23 11:07,anonymous,EN,5bcbde9d08a62c0001f86bd0,...,Disagree2,"Bachelor's degree (e.g., B.A., B.S.)",NaN,"$70,100 - $80,000",76022,Moderately Liberal,Moderately Liberal,Moderately Liberal,"Yes, I answered all questions honestly.",5bcbde9d08a62c0001f86bd0
4,5/9/23 11:04,5/9/23 11:12,IP Address,100,467,TRUE,5/9/23 11:12,anonymous,EN,5daf1d3f8d1f230014c71e21,...,Strongly disagree 1,"Bachelor's degree (e.g., B.A., B.S.)",NaN,"$70,100 - $80,000",80631,Moderately Liberal,Very Liberal,Very Liberal,"Yes, I answered all questions honestly.",5daf1d3f8d1f230014c71e21
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
86,5/9/23 12:04,5/9/23 12:59,IP Address,100,3342,TRUE,5/9/23 12:59,anonymous,EN,5d1c5337c2ccf4001a9fec2f,...,Disagree2,High school degree or equivalent,NaN,"$90,100 - $100,000",49331,Moderately Liberal,Moderately Liberal,Moderately Liberal,"Yes, I answered all questions honestly.",5d1c5337c2ccf4001a9fec2f
87,5/9/23 12:35,5/9/23 13:03,IP Address,100,1694,TRUE,5/9/23 13:03,anonymous,EN,64071f8576c48034c00df845,...,Agree 6,"Bachelor's degree (e.g., B.A., B.S.)",NaN,"$80,100 - $90,000",11368,Very Liberal,Very Liberal,Very Liberal,"Yes, I answered all questions honestly.",64071f8576c48034c00df845
88,5/9/23 11:32,5/9/23 11:34,IP Address,57,130,FALSE,5/16/23 11:34,anonymous,EN,5748077a5e5491000e3bf711,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5748077a5e5491000e3bf711
89,5/9/23 11:57,5/9/23 11:58,IP Address,57,74,FALSE,5/16/23 11:59,anonymous,EN,5d58d7d6280de7001aa7952a,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5d58d7d6280de7001aa7952a
90,5/9/23 12:02,5/9/23 12:08,IP Address,57,380,FALSE,5/16/23 12:08,anonymous,EN,5da9fec949bab300155afb7f,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5da9fec949bab300155afb7f

In [2]:
df_big5 = df.iloc[:, 13:73]
df_big5

,1,46,16r,31r,6,21,36r,51r,41,56,...,25r,55r,20,35,5r,50r,15,60,30r,45r
0,"Is outgoing, sociable.",Is talkative.,Tends to be quiet.,"Is sometimes shy, introverted",Has an assertive personality.,"Is dominant, acts as a leader.",Finds it hard to influence people.,Prefers to have others take charge.,Is full of energy.,Shows a lot of enthusiasm.,...,"Avoids intellectual, philosophical discussions.",Has little interest in abstract ideas.,"Is fascinated by art, music, or literature.",Values art and beauty.,Has few artistic interests.,Thinks poetry and plays are boring.,"Is inventive, finds clever ways to do things.","Is original, comes up with new ideas.",Has little creativity.,Has difficulty imagining things.
1,"{""ImportId"":""QID416""}","{""ImportId"":""QID870""}","{""ImportId"":""QID869""}","{""ImportId"":""QID871""}","{""ImportId"":""QID872""}","{""ImportId"":""QID873""}","{""ImportId"":""QID874""}","{""ImportId"":""QID875""}","{""ImportId"":""QID876""}","{""ImportId"":""QID877""}",...,"{""ImportId"":""QID918""}","{""ImportId"":""QID919""}","{""ImportId"":""QID920""}","{""ImportId"":""QID921""}","{""ImportId"":""QID922""}","{""ImportId"":""QID923""}","{""ImportId"":""QID924""}","{""ImportId"":""QID925""}","{""ImportId"":""QID926""}","{""ImportId"":""QID927""}"
2,4 Agree a little,4 Agree a little,3 Neutral; no opinion,4 Agree a little,3 Neutral; no opinion,3 Neutral; no opinion,3 Neutral; no opinion,3 Neutral; no opinion,3 Neutral; no opinion,4 Agree a little,...,3 Neutral; no opinion,1 Disagree strongly,5 Agree strongly,5 Agree strongly,1 Disagree strongly,2 Disagree a little,4 Agree a little,5 Agree strongly,1 Disagree strongly,2 Disagree a little
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,3 Neutral; no opinion,4 Agree a little,4 Agree a little,3 Neutral; no opinion,1 Disagree strongly,2 Disagree a little,3 Neutral; no opinion,3 Neutral; no opinion,3 Neutral; no opinion,2 Disagree a little,...,1 Disagree strongly,2 Disagree a little,4 Agree a little,5 Agree strongly,2 Disagree a little,1 Disagree strongly,4 Agree a little,5 Agree strongly,1 Disagree strongly,1 Disagree strongly
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
86,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
87,5 Agree strongly,1 Disagree strongly,1 Disagree strongly,1 Disagree strongly,4 Agree a little,5 Agree strongly,1 Disagree strongly,1 Disagree strongly,5 Agree strongly,5 Agree strongly,...,1 Disagree strongly,1 Disagree strongly,5 Agree strongly,5 Agree strongly,1 Disagree strongly,1 Disagree strongly,5 Agree strongly,5 Agree strongly,1 Disagree strongly,1 Disagree strongly
88,3 Neutral; no opinion,3 Neutral; no opinion,4 Agree a little,4 Agree a little,4 Agree a little,3 Neutral; no opinion,3 Neutral; no opinion,4 Agree a little,3 Neutral; no opinion,3 Neutral; no opinion,...,1 Disagree strongly,2 Disagree a little,3 Neutral; no opinion,2 Disagree a little,5 Agree strongly,5 Agree strongly,2 Disagree a little,2 Disagree a little,4 Agree a little,3 Neutral; no opinion
89,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
90,4 Agree a little,4 Agree a little,4 Agree a little,4 Agree a little,4 Agree a little,5 Agree strongly,3 Neutral; no opinion,2 Disagree a little,3 Neutral; no opinion,3 Neutral; no opinion,...,4 Agree a little,3 Neutral; no opinion,1 Disagree strongly,3 Neutral; no opinion,4 Agree a little,4 Agree a little,2 Disagree a little,3 Neutral; no opinion,4 Agree a little,3 Neutral; no opinion

In [3]:
df_selfmon = df.iloc[:, 213:226]
df_selfmon

,SM1_1,SM1_2,SM1_3,SM1_4,SM2_1,SM2_2,SM2_3,SM2_4,SM3_1,SM3_2,SM3_3,SM3_4,SM3_5
0,"Overall, to what extent is the following true ...","Overall, to what extent is the following true ...","Overall, to what extent is the following true ...","Overall, to what extent is the following true ...","Overall, to what extent is the following true ...","Overall, to what extent is the following true ...","Overall, to what extent is the following true ...","Overall, to what extent is the following true ...","Overall, to what extent is the following true ...","Overall, to what extent is the following true ...","Overall, to what extent is the following true ...","Overall, to what extent is the following true ...","Overall, to what extent is the following true ..."
1,"{""ImportId"":""QID928_1""}","{""ImportId"":""QID928_2""}","{""ImportId"":""QID928_3""}","{""ImportId"":""QID928_4""}","{""ImportId"":""QID929_5""}","{""ImportId"":""QID929_6""}","{""ImportId"":""QID929_7""}","{""ImportId"":""QID929_8""}","{""ImportId"":""QID930_9""}","{""ImportId"":""QID930_10""}","{""ImportId"":""QID930_11""}","{""ImportId"":""QID930_12""}","{""ImportId"":""QID930_13""}"
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,5Generally true,"4Somewhat true, but with exception","4Somewhat true, but with exception","4Somewhat true, but with exception","4Somewhat true, but with exception","4Somewhat true, but with exception","4Somewhat true, but with exception",5Generally true,"3Somewhat false, but with exception","4Somewhat true, but with exception","3Somewhat false, but with exception","3Somewhat false, but with exception","4Somewhat true, but with exception"
4,5Generally true,"4Somewhat true, but with exception",5Generally true,"3Somewhat false, but with exception",5Generally true,2 Generally false,"4Somewhat true, but with exception","4Somewhat true, but with exception",2 Generally false,5Generally true,5Generally true,"4Somewhat true, but with exception",5Generally true
...,...,...,...,...,...,...,...,...,...,...,...,...,...
86,5Generally true,5Generally true,5Generally true,5Generally true,"3Somewhat false, but with exception","3Somewhat false, but with exception",2 Generally false,5Generally true,"4Somewhat true, but with exception","3Somewhat false, but with exception","3Somewhat false, but with exception","3Somewhat false, but with exception","3Somewhat false, but with exception"
87,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
88,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
89,6Certainly always true,5Generally true,6Certainly always true,6Certainly always true,6Certainly always true,6Certainly always true,6Certainly always true,6Certainly always true,1 Certainly always false,6Certainly always true,5Generally true,1 Certainly always false,6Certainly always true
90,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [4]:
df_humint = df.iloc[:, 73:213]
df_humint

,HT1_1,HT1_5,HT1_6,HT1_7,HT2_1,HT2_8,HT2_9,HT2_10,HT3_1,HT3_11,...,HT33_12,HT33_13,HT34_1,HT34_11,HT34_12,HT34_13,HT35_1,HT35_11,HT35_12,HT35_13
0,Order the options (1-4) in your preferred orde...,Order the options (1-4) in your preferred orde...,Order the options (1-4) in your preferred orde...,Order the options (1-4) in your preferred orde...,Order the options (1-4) in your preferred orde...,Order the options (1-4) in your preferred orde...,Order the options (1-4) in your preferred orde...,Order the options (1-4) in your preferred orde...,Order the options (1-4) in your preferred orde...,Order the options (1-4) in your preferred orde...,...,Order the options (1-4) in your preferred orde...,Order the options (1-4) in your preferred orde...,Order the options (1-4) in your preferred orde...,Order the options (1-4) in your preferred orde...,Order the options (1-4) in your preferred orde...,Order the options (1-4) in your preferred orde...,Order the options (1-4) in your preferred orde...,Order the options (1-4) in your preferred orde...,Order the options (1-4) in your preferred orde...,Order the options (1-4) in your preferred orde...
1,"{""ImportId"":""QID782_1""}","{""ImportId"":""QID782_2""}","{""ImportId"":""QID782_3""}","{""ImportId"":""QID782_4""}","{""ImportId"":""QID783_1""}","{""ImportId"":""QID783_2""}","{""ImportId"":""QID783_3""}","{""ImportId"":""QID783_4""}","{""ImportId"":""QID827_1""}","{""ImportId"":""QID827_2""}",...,"{""ImportId"":""QID857_3""}","{""ImportId"":""QID857_4""}","{""ImportId"":""QID858_1""}","{""ImportId"":""QID858_2""}","{""ImportId"":""QID858_3""}","{""ImportId"":""QID858_4""}","{""ImportId"":""QID859_1""}","{""ImportId"":""QID859_2""}","{""ImportId"":""QID859_3""}","{""ImportId"":""QID859_4""}"
2,1,4,2,3,1,4,3,2,2,3,...,2,4,3,4,2,1,3,1,2,4
3,2,4,3,1,4,2,3,1,1,3,...,2,4,2,1,3,4,2,4,3,1
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
86,3,4,1,2,1,2,3,4,4,1,...,2,3,2,4,3,1,3,1,2,4
87,1,4,3,2,2,4,1,3,4,3,...,4,2,4,2,1,3,1,2,3,4
88,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
89,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
90,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [5]:
df_big5 = df_big5.drop(labels=1, axis=0)
df_big5 = df_big5.dropna()
for i in range(1, len(df_big5.index)):
    for j in range(len(df_big5.columns)):
        val = str(df_big5.iloc[i, j])
        new_val = val[0]
        df_big5.iloc[i, j] = new_val
df_big5.iloc[1:].apply(pd.to_numeric)
df_big5

,1,46,16r,31r,6,21,36r,51r,41,56,...,25r,55r,20,35,5r,50r,15,60,30r,45r
0,"Is outgoing, sociable.",Is talkative.,Tends to be quiet.,"Is sometimes shy, introverted",Has an assertive personality.,"Is dominant, acts as a leader.",Finds it hard to influence people.,Prefers to have others take charge.,Is full of energy.,Shows a lot of enthusiasm.,...,"Avoids intellectual, philosophical discussions.",Has little interest in abstract ideas.,"Is fascinated by art, music, or literature.",Values art and beauty.,Has few artistic interests.,Thinks poetry and plays are boring.,"Is inventive, finds clever ways to do things.","Is original, comes up with new ideas.",Has little creativity.,Has difficulty imagining things.
2,4,4,3,4,3,3,3,3,3,4,...,3,1,5,5,1,2,4,5,1,2
4,3,4,4,3,1,2,3,3,3,2,...,1,2,4,5,2,1,4,5,1,1
5,3,4,4,5,3,2,2,5,4,5,...,1,1,5,5,1,1,5,5,1,1
6,2,1,5,5,5,5,4,1,1,2,...,1,1,4,4,2,4,4,4,2,2
7,4,4,2,2,4,4,2,2,3,4,...,1,4,1,2,5,5,2,3,4,4
8,4,5,4,5,4,3,5,5,5,4,...,1,1,5,5,2,4,5,4,2,2
10,1,4,4,5,4,3,2,3,1,2,...,1,1,5,5,1,1,4,4,1,1
13,2,2,5,5,1,1,4,4,2,4,...,2,2,5,5,1,1,5,5,1,1
15,2,3,4,5,3,3,3,3,2,3,...,2,5,2,1,5,5,1,2,5,2
17,4,4,2,3,4,3,2,3,4,5,...,4,2,2,3,3,4,5,5,1,2
18,2,4,4,4,1,1,3,4,2,2,...,2,2,3,4,4,2,2,2,4,2
19,3,4,3,4,4,4,2,2,4,4,...,1,1,5,5,1,2,5,4,1,1
20,4,4,4,5,2,1,1,5,4,2,...,1,2,4,4,4,2,4,2,4,5
22,4,4,3,4,1,2,2,2,3,4,...,1,2,5,4,2,1,4,4,2,2
23,2,2,5,5,4,4,4,2,1,4,...,4,2,5,5,2,3,5,5,4,1
24,4,4,2,2,4,3,1,2,4,3,...,1,1,5,4,1,1,5,5,1,1
25,2,3,4,4,2,2,4,5,4,4,...,5,2,4,5,2,2,2,4,2,2
26,4,3,4,4,3,3,3,3,3,3,...,2,2,5,5,2,2,5,4,1,2
28,3,4,2,3,3,2,4,2,4,5,...,1,1,5,5,1,5,4,4,2,1
30,5,4,2,2,4,4,2,1,4,5,...,1,1,5,5,1,1,5,4,1,1
31,4,2,4,4,2,3,3,4,2,4,...,2,2,5,5,2,2,4,3,2,1
32,5,4,4,1,4,4,1,2,5,5,...,1,1,5,5,1,1,5,5,1,1
33,4,1,5,5,1,1,4,5,3,4,...,2,2,5,5,1,1,4,4,1,1
34,5,4,2,2,2,4,2,2,4,4,...,1,2,5,5,1,1,4,4,1,1
35,1,1,5,5,1,1,5,4,2,2,...,1,1,5,5,4,1,2,4,2,1
36,2,3,3,3,3,2,3,2,3,3,...,2,2,3,3,3,3,3,3,2,3
38,3,4,3,2,3,3,2,5,4,3,...,1,1,5,5,1,1,4,4,1,1
39,2,1,5,5,2,2,4,5,2,4,...,2,2,4,4,1,1,2,4,2,1
41,1,4,5,5,1,1,4,5,1,3,...,3,3,5,4,3,1,3,3,1,2
44,5,2,4,2,2,4,4,4,4,2,...,2,2,2,4,4,2,4,3,4,4
46,1,2,5,5,4,1,5,5,2,2,...,4,4,4,4,4,4,2,2,3,2
47,4,3,5,5,4,3,2,2,2,2,...,1,1,5,5,1,1,3,4,2,1
48,1,2,4,4,4,4,3,2,4,3,...,1,1,5,5,1,1,5,5,1,2
50,4,3,3,3,4,3,2,2,4,4,...,1,1,5,5,1,1,5,5,1,1
51,4,2,5,5,1,1,2,4,2,5,...,2,1,5,5,1,1,5,4,1,1
52,5,3,3,3,4,4,3,2,4,4,...,3,3,2,4,5,2,4,2,4,5
55,1,1,5,5,1,1,3,5,2,1,...,1,1,5,5,1,1,5,4,1,4
57,1,1,5,5,1,1,3,4,1,1,...,2,3,4,4,2,3,4,4,5,1
59,4,4,2,2,5,4,1,1,2,1,...,1,1,5,5,2,1,5,5,2,2
61,3,3,4,4,5,4,1,2,1,2,...,2,2,5,4,1,1,2,2,2,2
62,2,2,5,5,2,2,2,4,1,1,...,2,2,5,4,1,2,4,4,1,2
63,1,1,5,5,5,4,1,4,2,4,...,2,1,4,4,2,4,4,3,2,1
65,2,3,4,4,4,3,2,3,3,4,...,1,1,5,5,1,1,5,5,1,1
66,4,4,1,4,4,4,2,2,5,5,...,2,4,3,3,2,3,4,4,2,2
67,5,5,1,1,5,5,1,1,5,5,...,1,1,5,5,1,1,5,5,1,1
69,3,3,3,3,4,4,2,2,2,3,...,2,2,4,4,2,2,4,4,2,2
70,4,4,4,4,2,2,2,4,2,2,...,1,1,5,5,1,1,4,4,1,1
71,2,4,5,5,2,2,2,3,4,4,...,1,1,5,4,2,4,4,4,2,2
72,2,4,3,5,2,3,3,3,2,3,...,2,2,4,4,2,4,4,4,2,2
74,3,2,4,5,2,2,4,4,3,3,...,1,1,5,5,1,1,3,4,1,1
76,4,2,2,4,2,3,5,2,2,3,...,1,4,1,1,1,4,1,4,5,5
77,5,5,2,3,5,4,2,2,4,5,...,2,3,5,4,3,2,4,4,2,2
78,5,5,1,1,4,3,2,2,1,4,...,1,1,5,5,1,5,4,5,1,1
79,2,3,5,5,3,2,2,3,2,3,...,2,1,5,5,1,3,3,3,3,1
81,5,5,1,1,5,5,2,1,5,5,...,1,2,4,5,2,2,5,5,1,1
83,2,4,2,2,5,5,1,1,3,4,...,1,1,5,5,1,2,5,5,1,2
87,5,1,1,1,4,5,1,1,5,5,...,1,1,5,5,1,1,5,5,1,1
88,3,3,4,4,4,3,3,4,3,3,...,1,2,3,2,5,5,2,2,4,3
90,4,4,4,4,4,5,3,2,3,3,...,4,3,1,3,4,4,2,3,4,3

In [6]:
df_selfmon = df_selfmon.drop(labels=1, axis=0)
df_selfmon = df_selfmon.dropna()
for i in range(1, len(df_selfmon.index)):
    for j in range(len(df_selfmon.columns)):
        val = str(df_selfmon.iloc[i, j])
        new_val = val[0]
        df_selfmon.iloc[i, j] = new_val
df_selfmon.iloc[1:].apply(pd.to_numeric)
df_selfmon

,SM1_1,SM1_2,SM1_3,SM1_4,SM2_1,SM2_2,SM2_3,SM2_4,SM3_1,SM3_2,SM3_3,SM3_4,SM3_5
0,"Overall, to what extent is the following true ...","Overall, to what extent is the following true ...","Overall, to what extent is the following true ...","Overall, to what extent is the following true ...","Overall, to what extent is the following true ...","Overall, to what extent is the following true ...","Overall, to what extent is the following true ...","Overall, to what extent is the following true ...","Overall, to what extent is the following true ...","Overall, to what extent is the following true ...","Overall, to what extent is the following true ...","Overall, to what extent is the following true ...","Overall, to what extent is the following true ..."
3,5,4,4,4,4,4,4,5,3,4,3,3,4
4,5,4,5,3,5,2,4,4,2,5,5,4,5
5,6,5,5,5,6,5,5,4,1,5,4,2,5
6,4,5,3,2,5,4,4,5,2,4,5,2,5
7,5,5,5,5,5,5,5,5,2,5,4,2,5
9,6,6,5,6,6,6,4,6,4,4,6,5,5
11,5,5,4,5,6,5,4,5,3,5,5,4,5
12,4,2,3,4,4,6,4,5,3,4,4,2,4
13,5,5,5,5,5,5,4,5,2,4,5,2,4
14,5,4,5,4,4,5,5,5,2,5,4,4,5
15,5,3,4,3,5,4,5,4,2,5,4,3,4
16,3,3,3,3,4,3,3,4,4,4,4,5,3
17,5,5,5,5,5,5,5,5,5,5,5,5,5
18,5,4,6,6,6,5,4,5,2,5,4,3,6
21,5,4,4,4,4,5,4,5,3,5,4,3,5
22,5,5,5,5,4,4,4,4,2,4,4,2,5
23,5,5,4,5,5,4,5,5,3,4,5,3,5
27,4,3,3,3,4,4,2,4,5,3,3,5,4
28,5,5,4,6,6,5,5,5,2,5,3,2,5
29,3,4,5,4,3,5,1,5,6,2,4,4,2
30,5,4,5,4,5,4,4,5,2,5,5,2,6
32,5,5,5,5,5,5,5,5,2,5,5,2,5
33,5,4,5,5,5,5,5,5,2,5,4,2,5
35,5,3,4,3,3,5,4,5,3,4,3,4,3
37,6,6,6,6,6,6,6,6,1,6,5,6,6
40,3,4,3,4,4,3,2,4,5,4,2,4,3
41,5,4,5,2,5,5,5,5,2,5,4,3,5
42,3,4,5,4,3,5,4,4,3,5,4,5,4
43,5,6,5,5,6,5,5,6,2,4,5,2,4
44,4,5,4,4,4,3,3,4,4,5,3,5,5
45,5,4,5,5,5,5,4,5,3,5,4,5,4
46,4,5,4,6,5,5,5,5,5,4,6,4,5
47,5,5,4,6,5,4,5,5,3,5,5,3,5
49,5,4,5,3,4,4,3,3,4,4,4,3,4
50,5,3,5,4,4,6,6,4,2,6,3,1,6
51,5,1,2,1,6,5,2,5,2,5,4,2,5
52,4,5,2,3,4,3,5,3,3,3,5,5,4
53,5,5,5,5,4,4,5,5,2,5,3,2,5
54,5,5,5,5,5,5,5,5,2,4,5,2,5
55,4,1,2,2,2,4,3,4,3,4,2,4,4
56,6,5,6,5,5,6,6,5,1,5,4,2,6
58,5,4,4,5,6,6,5,6,6,6,5,5,5
59,5,5,5,4,5,5,4,5,2,5,5,3,5
60,5,5,5,3,6,5,4,4,2,5,3,3,5
64,4,4,5,4,4,5,4,4,3,4,4,5,5
65,5,4,5,4,5,5,4,6,2,4,5,2,5
66,6,5,6,5,5,5,6,5,2,6,5,3,6
68,5,3,5,3,4,4,5,4,2,5,3,1,5
69,4,5,4,5,5,5,4,5,3,4,5,3,4
71,5,5,4,5,5,5,4,4,2,4,4,2,4
73,5,5,4,4,6,5,4,5,3,3,4,4,5
75,6,5,4,5,4,6,6,6,3,6,4,5,4
80,3,5,4,4,4,3,4,3,3,3,4,4,4
82,5,5,4,5,6,5,4,4,3,5,5,2,4
83,4,4,4,4,3,4,3,5,4,4,3,2,4
84,5,6,4,6,6,5,4,6,2,4,5,3,5
85,1,5,1,5,4,5,4,6,4,4,2,4,2
86,5,5,5,5,3,3,2,5,4,3,3,3,3
89,6,5,6,6,6,6,6,6,1,6,5,1,6

In [7]:
df_humint = df_humint.drop(labels=1, axis=0)
df_humint = df_humint.dropna()
for i in range(1, len(df_humint.index)):
    for j in range(len(df_humint.columns)):
        val = str(df_humint.iloc[i, j])
        new_val = val[0]
        df_humint.iloc[i, j] = new_val
df_humint.iloc[1:].apply(pd.to_numeric)
df_humint

,HT1_1,HT1_5,HT1_6,HT1_7,HT2_1,HT2_8,HT2_9,HT2_10,HT3_1,HT3_11,...,HT33_12,HT33_13,HT34_1,HT34_11,HT34_12,HT34_13,HT35_1,HT35_11,HT35_12,HT35_13
0,Order the options (1-4) in your preferred orde...,Order the options (1-4) in your preferred orde...,Order the options (1-4) in your preferred orde...,Order the options (1-4) in your preferred orde...,Order the options (1-4) in your preferred orde...,Order the options (1-4) in your preferred orde...,Order the options (1-4) in your preferred orde...,Order the options (1-4) in your preferred orde...,Order the options (1-4) in your preferred orde...,Order the options (1-4) in your preferred orde...,...,Order the options (1-4) in your preferred orde...,Order the options (1-4) in your preferred orde...,Order the options (1-4) in your preferred orde...,Order the options (1-4) in your preferred orde...,Order the options (1-4) in your preferred orde...,Order the options (1-4) in your preferred orde...,Order the options (1-4) in your preferred orde...,Order the options (1-4) in your preferred orde...,Order the options (1-4) in your preferred orde...,Order the options (1-4) in your preferred orde...
2,1,4,2,3,1,4,3,2,2,3,...,2,4,3,4,2,1,3,1,2,4
3,2,4,3,1,4,2,3,1,1,3,...,2,4,2,1,3,4,2,4,3,1
8,1,4,2,3,2,3,1,4,4,1,...,3,4,1,2,4,3,3,4,2,1
9,2,3,1,4,2,4,1,3,1,3,...,3,2,1,4,3,2,2,1,3,4
10,3,4,1,2,2,3,1,4,4,2,...,3,4,1,3,4,2,2,1,3,4
11,1,3,2,4,1,3,2,4,4,2,...,4,3,3,2,4,1,2,3,1,4
12,2,3,1,4,1,3,2,4,4,1,...,1,2,4,3,1,2,2,1,3,4
14,1,3,2,4,1,2,3,4,4,1,...,4,3,1,4,2,3,3,1,2,4
16,3,1,2,4,2,4,3,1,2,4,...,3,2,3,1,4,2,1,2,4,3
19,4,3,1,2,1,3,2,4,2,1,...,2,3,1,4,3,2,4,1,3,2
20,3,2,1,4,2,3,1,4,4,2,...,1,2,2,1,4,3,2,3,1,4
21,3,2,1,4,2,1,3,4,3,1,...,2,1,2,4,3,1,3,2,1,4
24,3,4,1,2,2,1,3,4,4,1,...,4,3,2,3,4,1,3,1,4,2
26,3,2,1,4,1,3,2,4,4,1,...,3,2,1,4,3,2,3,1,4,2
27,3,2,1,4,1,3,4,2,4,1,...,1,2,3,4,2,1,2,1,3,4
29,3,2,1,4,2,4,3,1,2,3,...,1,2,1,4,3,2,3,1,2,4
31,4,1,2,3,1,3,4,2,3,2,...,1,2,1,3,2,4,4,2,1,3
34,2,3,1,4,4,3,2,1,2,4,...,2,3,2,3,1,4,1,3,4,2
36,2,3,1,4,4,2,3,1,4,3,...,3,2,3,2,1,4,4,2,1,3
37,3,2,1,4,2,4,3,1,1,3,...,2,1,1,4,2,3,3,1,2,4
38,3,2,1,4,1,3,2,4,4,2,...,3,2,4,1,3,2,2,1,4,3
39,3,2,1,4,1,3,2,4,4,3,...,1,2,2,4,3,1,2,1,3,4
40,2,1,3,4,1,4,2,3,1,3,...,2,1,1,2,3,4,1,3,2,4
42,3,4,1,2,1,4,3,2,4,3,...,4,2,1,3,2,4,1,1,3,4
43,3,4,1,2,3,2,1,4,3,1,...,4,2,2,3,4,1,1,2,4,3
45,1,2,3,4,1,3,2,4,2,3,...,2,1,2,4,3,1,1,2,4,3
48,2,4,1,3,1,3,2,4,4,2,...,3,1,1,4,3,2,1,2,3,4
49,3,4,1,2,2,3,4,1,3,2,...,2,1,2,3,4,1,4,1,2,3
53,3,2,1,4,2,3,1,4,4,1,...,2,1,1,4,3,2,1,3,2,4
54,4,1,2,3,1,2,3,4,1,2,...,4,1,4,1,3,2,4,1,2,3
56,4,3,2,1,2,3,1,4,4,1,...,1,2,1,4,3,2,4,1,2,3
57,3,4,1,2,2,4,1,3,3,2,...,1,2,1,4,3,2,3,1,2,4
58,3,2,1,4,4,3,1,2,1,2,...,2,1,1,2,3,4,3,2,4,1
60,2,3,4,1,2,3,1,4,1,3,...,1,2,2,1,3,4,4,2,3,1
61,4,1,2,3,2,4,1,3,2,1,...,2,1,1,4,3,2,3,2,1,4
62,3,4,1,2,2,3,1,4,4,3,...,2,1,2,4,3,1,2,1,3,4
63,4,1,2,3,3,1,2,4,3,1,...,1,2,3,2,4,1,2,1,3,4
64,3,2,1,4,1,2,4,3,3,2,...,1,2,1,4,3,2,1,2,3,4
67,1,4,2,3,2,4,1,3,4,1,...,3,2,1,4,3,2,2,1,4,3
68,1,4,2,3,1,3,2,4,4,3,...,4,3,1,4,3,2,1,2,4,3
70,1,3,2,4,1,3,2,4,3,2,...,2,3,1,4,3,2,2,1,3,4
72,4,3,2,1,4,2,1,3,2,1,...,2,1,1,4,3,2,2,1,4,3
73,2,4,1,3,3,2,1,4,4,1,...,4,3,4,1,3,2,2,1,4,3
74,3,2,1,4,2,3,1,4,3,2,...,1,2,3,4,1,2,2,1,4,3
75,1,4,3,2,1,3,2,4,3,2,...,1,3,1,4,2,3,3,1,2,4
76,3,1,4,2,1,4,3,2,1,3,...,1,2,4,2,3,1,2,3,4,1
77,2,4,1,3,2,4,1,3,4,3,...,4,3,4,1,3,2,3,2,4,1
78,2,4,1,3,1,3,2,4,4,1,...,4,1,1,4,3,2,2,3,4,1
79,3,4,1,2,1,3,2,4,4,2,...,4,3,4,3,2,1,1,2,3,4
80,2,1,4,3,3,2,4,1,3,1,...,3,4,2,3,4,1,1,3,2,4
81,2,3,1,4,2,4,1,3,3,1,...,2,3,2,4,3,1,4,1,2,3
82,2,4,1,3,1,2,3,4,4,3,...,3,2,3,4,2,1,3,1,2,4
84,4,2,1,3,1,3,2,4,1,3,...,1,2,1,4,3,2,2,1,3,4
85,2,3,1,4,2,1,3,4,4,3,...,3,1,4,3,2,1,2,1,3,4
86,3,4,1,2,1,2,3,4,4,1,...,2,3,2,4,3,1,3,1,2,4
87,1,4,3,2,2,4,1,3,4,3,...,4,2,4,2,1,3,1,2,3,4

In [8]:
col_indices_big5 = [2, 3, 6, 7, 10, 11, 14, 15, 18, 19, 22, 23, 26, 27, 30, 31, 34, 35, 38, 39, 42, 43, 46, 47, 50, 51, 54, 55, 58, 59]
for i in range(1, len(df_big5.index)):
    for j in col_indices_big5:
        df_big5.iloc[i, j] = 6 - int(df_big5.iloc[i, j])
df_big5

,1,46,16r,31r,6,21,36r,51r,41,56,...,25r,55r,20,35,5r,50r,15,60,30r,45r
0,"Is outgoing, sociable.",Is talkative.,Tends to be quiet.,"Is sometimes shy, introverted",Has an assertive personality.,"Is dominant, acts as a leader.",Finds it hard to influence people.,Prefers to have others take charge.,Is full of energy.,Shows a lot of enthusiasm.,...,"Avoids intellectual, philosophical discussions.",Has little interest in abstract ideas.,"Is fascinated by art, music, or literature.",Values art and beauty.,Has few artistic interests.,Thinks poetry and plays are boring.,"Is inventive, finds clever ways to do things.","Is original, comes up with new ideas.",Has little creativity.,Has difficulty imagining things.
2,4,4,3,2,3,3,3,3,3,4,...,3,5,5,5,5,4,4,5,5,4
4,3,4,2,3,1,2,3,3,3,2,...,5,4,4,5,4,5,4,5,5,5
5,3,4,2,1,3,2,4,1,4,5,...,5,5,5,5,5,5,5,5,5,5
6,2,1,1,1,5,5,2,5,1,2,...,5,5,4,4,4,2,4,4,4,4
7,4,4,4,4,4,4,4,4,3,4,...,5,2,1,2,1,1,2,3,2,2
8,4,5,2,1,4,3,1,1,5,4,...,5,5,5,5,4,2,5,4,4,4
10,1,4,2,1,4,3,4,3,1,2,...,5,5,5,5,5,5,4,4,5,5
13,2,2,1,1,1,1,2,2,2,4,...,4,4,5,5,5,5,5,5,5,5
15,2,3,2,1,3,3,3,3,2,3,...,4,1,2,1,1,1,1,2,1,4
17,4,4,4,3,4,3,4,3,4,5,...,2,4,2,3,3,2,5,5,5,4
18,2,4,2,2,1,1,3,2,2,2,...,4,4,3,4,2,4,2,2,2,4
19,3,4,3,2,4,4,4,4,4,4,...,5,5,5,5,5,4,5,4,5,5
20,4,4,2,1,2,1,5,1,4,2,...,5,4,4,4,2,4,4,2,2,1
22,4,4,3,2,1,2,4,4,3,4,...,5,4,5,4,4,5,4,4,4,4
23,2,2,1,1,4,4,2,4,1,4,...,2,4,5,5,4,3,5,5,2,5
24,4,4,4,4,4,3,5,4,4,3,...,5,5,5,4,5,5,5,5,5,5
25,2,3,2,2,2,2,2,1,4,4,...,1,4,4,5,4,4,2,4,4,4
26,4,3,2,2,3,3,3,3,3,3,...,4,4,5,5,4,4,5,4,5,4
28,3,4,4,3,3,2,2,4,4,5,...,5,5,5,5,5,1,4,4,4,5
30,5,4,4,4,4,4,4,5,4,5,...,5,5,5,5,5,5,5,4,5,5
31,4,2,2,2,2,3,3,2,2,4,...,4,4,5,5,4,4,4,3,4,5
32,5,4,2,5,4,4,5,4,5,5,...,5,5,5,5,5,5,5,5,5,5
33,4,1,1,1,1,1,2,1,3,4,...,4,4,5,5,5,5,4,4,5,5
34,5,4,4,4,2,4,4,4,4,4,...,5,4,5,5,5,5,4,4,5,5
35,1,1,1,1,1,1,1,2,2,2,...,5,5,5,5,2,5,2,4,4,5
36,2,3,3,3,3,2,3,4,3,3,...,4,4,3,3,3,3,3,3,4,3
38,3,4,3,4,3,3,4,1,4,3,...,5,5,5,5,5,5,4,4,5,5
39,2,1,1,1,2,2,2,1,2,4,...,4,4,4,4,5,5,2,4,4,5
41,1,4,1,1,1,1,2,1,1,3,...,3,3,5,4,3,5,3,3,5,4
44,5,2,2,4,2,4,2,2,4,2,...,4,4,2,4,2,4,4,3,2,2
46,1,2,1,1,4,1,1,1,2,2,...,2,2,4,4,2,2,2,2,3,4
47,4,3,1,1,4,3,4,4,2,2,...,5,5,5,5,5,5,3,4,4,5
48,1,2,2,2,4,4,3,4,4,3,...,5,5,5,5,5,5,5,5,5,4
50,4,3,3,3,4,3,4,4,4,4,...,5,5,5,5,5,5,5,5,5,5
51,4,2,1,1,1,1,4,2,2,5,...,4,5,5,5,5,5,5,4,5,5
52,5,3,3,3,4,4,3,4,4,4,...,3,3,2,4,1,4,4,2,2,1
55,1,1,1,1,1,1,3,1,2,1,...,5,5,5,5,5,5,5,4,5,2
57,1,1,1,1,1,1,3,2,1,1,...,4,3,4,4,4,3,4,4,1,5
59,4,4,4,4,5,4,5,5,2,1,...,5,5,5,5,4,5,5,5,4,4
61,3,3,2,2,5,4,5,4,1,2,...,4,4,5,4,5,5,2,2,4,4
62,2,2,1,1,2,2,4,2,1,1,...,4,4,5,4,5,4,4,4,5,4
63,1,1,1,1,5,4,5,2,2,4,...,4,5,4,4,4,2,4,3,4,5
65,2,3,2,2,4,3,4,3,3,4,...,5,5,5,5,5,5,5,5,5,5
66,4,4,5,2,4,4,4,4,5,5,...,4,2,3,3,4,3,4,4,4,4
67,5,5,5,5,5,5,5,5,5,5,...,5,5,5,5,5,5,5,5,5,5
69,3,3,3,3,4,4,4,4,2,3,...,4,4,4,4,4,4,4,4,4,4
70,4,4,2,2,2,2,4,2,2,2,...,5,5,5,5,5,5,4,4,5,5
71,2,4,1,1,2,2,4,3,4,4,...,5,5,5,4,4,2,4,4,4,4
72,2,4,3,1,2,3,3,3,2,3,...,4,4,4,4,4,2,4,4,4,4
74,3,2,2,1,2,2,2,2,3,3,...,5,5,5,5,5,5,3,4,5,5
76,4,2,4,2,2,3,1,4,2,3,...,5,2,1,1,5,2,1,4,1,1
77,5,5,4,3,5,4,4,4,4,5,...,4,3,5,4,3,4,4,4,4,4
78,5,5,5,5,4,3,4,4,1,4,...,5,5,5,5,5,1,4,5,5,5
79,2,3,1,1,3,2,4,3,2,3,...,4,5,5,5,5,3,3,3,3,5
81,5,5,5,5,5,5,4,5,5,5,...,5,4,4,5,4,4,5,5,5,5
83,2,4,4,4,5,5,5,5,3,4,...,5,5,5,5,5,4,5,5,5,4
87,5,1,5,5,4,5,5,5,5,5,...,5,5,5,5,5,5,5,5,5,5
88,3,3,2,2,4,3,3,2,3,3,...,5,4,3,2,1,1,2,2,2,3
90,4,4,2,2,4,5,3,4,3,3,...,2,3,1,3,2,2,2,3,2,3

In [9]:
col_indices_sm = [7, 10]
for i in range(1, len(df_selfmon.index)):
    for j in col_indices_sm:
        df_selfmon.iloc[i, j] = 7 - int(df_selfmon.iloc[i, j])
df_selfmon

,SM1_1,SM1_2,SM1_3,SM1_4,SM2_1,SM2_2,SM2_3,SM2_4,SM3_1,SM3_2,SM3_3,SM3_4,SM3_5
0,"Overall, to what extent is the following true ...","Overall, to what extent is the following true ...","Overall, to what extent is the following true ...","Overall, to what extent is the following true ...","Overall, to what extent is the following true ...","Overall, to what extent is the following true ...","Overall, to what extent is the following true ...","Overall, to what extent is the following true ...","Overall, to what extent is the following true ...","Overall, to what extent is the following true ...","Overall, to what extent is the following true ...","Overall, to what extent is the following true ...","Overall, to what extent is the following true ..."
3,5,4,4,4,4,4,4,2,3,4,4,3,4
4,5,4,5,3,5,2,4,3,2,5,2,4,5
5,6,5,5,5,6,5,5,3,1,5,3,2,5
6,4,5,3,2,5,4,4,2,2,4,2,2,5
7,5,5,5,5,5,5,5,2,2,5,3,2,5
9,6,6,5,6,6,6,4,1,4,4,1,5,5
11,5,5,4,5,6,5,4,2,3,5,2,4,5
12,4,2,3,4,4,6,4,2,3,4,3,2,4
13,5,5,5,5,5,5,4,2,2,4,2,2,4
14,5,4,5,4,4,5,5,2,2,5,3,4,5
15,5,3,4,3,5,4,5,3,2,5,3,3,4
16,3,3,3,3,4,3,3,3,4,4,3,5,3
17,5,5,5,5,5,5,5,2,5,5,2,5,5
18,5,4,6,6,6,5,4,2,2,5,3,3,6
21,5,4,4,4,4,5,4,2,3,5,3,3,5
22,5,5,5,5,4,4,4,3,2,4,3,2,5
23,5,5,4,5,5,4,5,2,3,4,2,3,5
27,4,3,3,3,4,4,2,3,5,3,4,5,4
28,5,5,4,6,6,5,5,2,2,5,4,2,5
29,3,4,5,4,3,5,1,2,6,2,3,4,2
30,5,4,5,4,5,4,4,2,2,5,2,2,6
32,5,5,5,5,5,5,5,2,2,5,2,2,5
33,5,4,5,5,5,5,5,2,2,5,3,2,5
35,5,3,4,3,3,5,4,2,3,4,4,4,3
37,6,6,6,6,6,6,6,1,1,6,2,6,6
40,3,4,3,4,4,3,2,3,5,4,5,4,3
41,5,4,5,2,5,5,5,2,2,5,3,3,5
42,3,4,5,4,3,5,4,3,3,5,3,5,4
43,5,6,5,5,6,5,5,1,2,4,2,2,4
44,4,5,4,4,4,3,3,3,4,5,4,5,5
45,5,4,5,5,5,5,4,2,3,5,3,5,4
46,4,5,4,6,5,5,5,2,5,4,1,4,5
47,5,5,4,6,5,4,5,2,3,5,2,3,5
49,5,4,5,3,4,4,3,4,4,4,3,3,4
50,5,3,5,4,4,6,6,3,2,6,4,1,6
51,5,1,2,1,6,5,2,2,2,5,3,2,5
52,4,5,2,3,4,3,5,4,3,3,2,5,4
53,5,5,5,5,4,4,5,2,2,5,4,2,5
54,5,5,5,5,5,5,5,2,2,4,2,2,5
55,4,1,2,2,2,4,3,3,3,4,5,4,4
56,6,5,6,5,5,6,6,2,1,5,3,2,6
58,5,4,4,5,6,6,5,1,6,6,2,5,5
59,5,5,5,4,5,5,4,2,2,5,2,3,5
60,5,5,5,3,6,5,4,3,2,5,4,3,5
64,4,4,5,4,4,5,4,3,3,4,3,5,5
65,5,4,5,4,5,5,4,1,2,4,2,2,5
66,6,5,6,5,5,5,6,2,2,6,2,3,6
68,5,3,5,3,4,4,5,3,2,5,4,1,5
69,4,5,4,5,5,5,4,2,3,4,2,3,4
71,5,5,4,5,5,5,4,3,2,4,3,2,4
73,5,5,4,4,6,5,4,2,3,3,3,4,5
75,6,5,4,5,4,6,6,1,3,6,3,5,4
80,3,5,4,4,4,3,4,4,3,3,3,4,4
82,5,5,4,5,6,5,4,3,3,5,2,2,4
83,4,4,4,4,3,4,3,2,4,4,4,2,4
84,5,6,4,6,6,5,4,1,2,4,2,3,5
85,1,5,1,5,4,5,4,1,4,4,5,4,2
86,5,5,5,5,3,3,2,2,4,3,4,3,3
89,6,5,6,6,6,6,6,1,1,6,2,1,6

In [10]:
df_big5 = df_big5.drop(labels=0, axis=0)

df_big5['1'] = pd.to_numeric(df_big5['1'])
df_big5['46'] = pd.to_numeric(df_big5['46'])
df_big5['16r'] = pd.to_numeric(df_big5['16r'])
df_big5['31r'] = pd.to_numeric(df_big5['31r'])
df_big5['6'] = pd.to_numeric(df_big5['6'])
df_big5['21'] = pd.to_numeric(df_big5['21'])
df_big5['36r'] = pd.to_numeric(df_big5['36r'])
df_big5['51r'] = pd.to_numeric(df_big5['51r'])
df_big5['41'] = pd.to_numeric(df_big5['41'])
df_big5['56'] = pd.to_numeric(df_big5['56'])
df_big5['11r'] = pd.to_numeric(df_big5['11r'])
df_big5['26r'] = pd.to_numeric(df_big5['26r'])
df_big5['2'] = pd.to_numeric(df_big5['2'])
df_big5['32'] = pd.to_numeric(df_big5['32'])
df_big5['17r'] = pd.to_numeric(df_big5['17r'])
df_big5['47r'] = pd.to_numeric(df_big5['47r'])
df_big5['7'] = pd.to_numeric(df_big5['7'])
df_big5['52'] = pd.to_numeric(df_big5['52'])
df_big5['22r'] = pd.to_numeric(df_big5['22r'])
df_big5['37r'] = pd.to_numeric(df_big5['37r'])
df_big5['27'] = pd.to_numeric(df_big5['27'])
df_big5['57'] = pd.to_numeric(df_big5['57'])
df_big5['12r'] = pd.to_numeric(df_big5['12r'])
df_big5['42r'] = pd.to_numeric(df_big5['42r'])
df_big5['18'] = pd.to_numeric(df_big5['18'])
df_big5['33'] = pd.to_numeric(df_big5['33'])
df_big5['3r'] = pd.to_numeric(df_big5['3r'])
df_big5['48r'] = pd.to_numeric(df_big5['48r'])
df_big5['38'] = pd.to_numeric(df_big5['38'])
df_big5['53'] = pd.to_numeric(df_big5['53'])
df_big5['8r'] = pd.to_numeric(df_big5['8r'])
df_big5['23r'] = pd.to_numeric(df_big5['23r'])
df_big5['13'] = pd.to_numeric(df_big5['13'])
df_big5['43'] = pd.to_numeric(df_big5['43'])
df_big5['28r'] = pd.to_numeric(df_big5['28r'])
df_big5['58r'] = pd.to_numeric(df_big5['58r'])
df_big5['19'] = pd.to_numeric(df_big5['19'])
df_big5['34'] = pd.to_numeric(df_big5['34'])
df_big5['4r'] = pd.to_numeric(df_big5['4r'])
df_big5['49r'] = pd.to_numeric(df_big5['49r'])
df_big5['39'] = pd.to_numeric(df_big5['39'])
df_big5['54'] = pd.to_numeric(df_big5['54'])
df_big5['9r'] = pd.to_numeric(df_big5['9r'])
df_big5['24r'] = pd.to_numeric(df_big5['24r'])
df_big5['14'] = pd.to_numeric(df_big5['14'])
df_big5['59'] = pd.to_numeric(df_big5['59'])
df_big5['29r'] = pd.to_numeric(df_big5['29r'])
df_big5['44r'] = pd.to_numeric(df_big5['44r'])
df_big5['10'] = pd.to_numeric(df_big5['10'])
df_big5['40'] = pd.to_numeric(df_big5['40'])
df_big5['25r'] = pd.to_numeric(df_big5['25r'])
df_big5['55r'] = pd.to_numeric(df_big5['55r'])
df_big5['20'] = pd.to_numeric(df_big5['20'])
df_big5['35'] = pd.to_numeric(df_big5['35'])
df_big5['5r'] = pd.to_numeric(df_big5['5r'])
df_big5['50r'] = pd.to_numeric(df_big5['50r'])
df_big5['15'] = pd.to_numeric(df_big5['15'])
df_big5['60'] = pd.to_numeric(df_big5['60'])
df_big5['30r'] = pd.to_numeric(df_big5['30r'])
df_big5['45r'] = pd.to_numeric(df_big5['45r'])

df_big5["Extraversion Score"] = df_big5.iloc[:, 0:12].mean(axis=1)
df_big5["Agreeableness Score"] = df_big5.iloc[:, 12:24].mean(axis=1)
df_big5["Conscientiousness Score"] = df_big5.iloc[:, 24:36].mean(axis=1)
df_big5["Negative Emotionality Score"] = df_big5.iloc[:, 36:48].mean(axis=1)
df_big5["Open-Mindedness Score"] = df_big5.iloc[:, 48:60].mean(axis=1)
df_big5

,1,46,16r,31r,6,21,36r,51r,41,56,...,50r,15,60,30r,45r,Extraversion Score,Agreeableness Score,Conscientiousness Score,Negative Emotionality Score,Open-Mindedness Score
2,4,4,3,2,3,3,3,3,3,4,...,4,4,5,5,4,3.166667,3.750000,3.583333,3.166667,4.416667
4,3,4,2,3,1,2,3,3,3,2,...,5,4,5,5,5,2.666667,4.666667,4.000000,3.250000,4.666667
5,3,4,2,1,3,2,4,1,4,5,...,5,5,5,5,5,3.166667,4.166667,4.916667,2.000000,5.000000
6,2,1,1,1,5,5,2,5,1,2,...,2,4,4,4,4,2.666667,2.750000,4.083333,2.500000,4.166667
7,4,4,4,4,4,4,4,4,3,4,...,1,2,3,2,2,3.916667,3.666667,3.250000,2.333333,2.416667
8,4,5,2,1,4,3,1,1,5,4,...,2,5,4,4,4,3.000000,4.166667,4.750000,1.916667,4.333333
10,1,4,2,1,4,3,4,3,1,2,...,5,4,4,5,5,2.333333,3.166667,2.750000,3.833333,4.833333
13,2,2,1,1,1,1,2,2,2,4,...,5,5,5,5,5,2.000000,4.333333,4.500000,2.333333,4.833333
15,2,3,2,1,3,3,3,3,2,3,...,1,1,2,1,4,2.583333,3.250000,3.166667,2.916667,2.166667
17,4,4,4,3,4,3,4,3,4,5,...,2,5,5,5,4,3.750000,3.416667,3.500000,2.500000,3.583333
18,2,4,2,2,1,1,3,2,2,2,...,4,2,2,2,4,2.250000,3.166667,3.416667,2.750000,3.416667
19,3,4,3,2,4,4,4,4,4,4,...,4,5,4,5,5,3.833333,4.250000,4.250000,1.750000,4.750000
20,4,4,2,1,2,1,5,1,4,2,...,4,4,2,2,1,2.333333,3.666667,3.500000,4.333333,3.166667
22,4,4,3,2,1,2,4,4,3,4,...,5,4,4,4,4,3.083333,3.833333,4.000000,2.333333,4.250000
23,2,2,1,1,4,4,2,4,1,4,...,3,5,5,2,5,2.500000,3.916667,2.666667,4.166667,4.083333
24,4,4,4,4,4,3,5,4,4,3,...,5,5,5,5,5,4.000000,3.166667,2.250000,2.416667,4.916667
25,2,3,2,2,2,2,2,1,4,4,...,4,2,4,4,4,2.583333,4.166667,3.833333,2.416667,3.583333
26,4,3,2,2,3,3,3,3,3,3,...,4,5,4,5,4,3.083333,4.000000,2.916667,3.166667,4.416667
28,3,4,4,3,3,2,2,4,4,5,...,1,4,4,4,5,3.666667,3.916667,3.583333,2.750000,4.333333
30,5,4,4,4,4,4,4,5,4,5,...,5,5,4,5,5,4.166667,4.583333,4.333333,2.083333,4.916667
31,4,2,2,2,2,3,3,2,2,4,...,4,4,3,4,5,2.750000,3.666667,2.583333,4.083333,4.250000
32,5,4,2,5,4,4,5,4,5,5,...,5,5,5,5,5,4.416667,4.583333,5.000000,1.000000,5.000000
33,4,1,1,1,1,1,2,1,3,4,...,5,4,4,5,5,2.333333,4.416667,3.833333,2.250000,4.583333
34,5,4,4,4,2,4,4,4,4,4,...,5,4,4,5,5,3.916667,4.833333,4.916667,2.083333,4.750000
35,1,1,1,1,1,1,1,2,2,2,...,5,2,4,4,5,1.666667,4.500000,4.083333,3.500000,4.250000
36,2,3,3,3,3,2,3,4,3,3,...,3,3,3,4,3,3.000000,3.500000,3.500000,2.416667,3.333333
38,3,4,3,4,3,3,4,1,4,3,...,5,4,4,5,5,3.250000,4.416667,3.333333,1.916667,4.833333
39,2,1,1,1,2,2,2,1,2,4,...,5,2,4,4,5,1.750000,4.250000,2.750000,4.166667,4.166667
41,1,4,1,1,1,1,2,1,1,3,...,5,3,3,5,4,1.833333,3.000000,2.083333,4.666667,3.750000
44,5,2,2,4,2,4,2,2,4,2,...,4,4,3,2,2,3.083333,3.500000,3.916667,3.000000,3.083333
46,1,2,1,1,4,1,1,1,2,2,...,2,2,2,3,4,1.833333,4.333333,3.416667,4.083333,2.916667
47,4,3,1,1,4,3,4,4,2,2,...,5,3,4,4,5,2.833333,3.583333,4.000000,3.166667,4.583333
48,1,2,2,2,4,4,3,4,4,3,...,5,5,5,5,4,3.000000,3.250000,4.083333,3.833333,4.916667
50,4,3,3,3,4,3,4,4,4,4,...,5,5,5,5,5,3.500000,3.750000,4.833333,2.000000,5.000000
51,4,2,1,1,1,1,4,2,2,5,...,5,5,4,5,5,2.416667,3.750000,2.250000,4.000000,4.750000
52,5,3,3,3,4,4,3,4,4,4,...,4,4,2,2,1,3.583333,2.750000,2.583333,3.416667,2.666667
55,1,1,1,1,1,1,3,1,2,1,...,5,5,4,5,2,1.416667,4.166667,2.666667,3.416667,4.666667
57,1,1,1,1,1,1,3,2,1,1,...,3,4,4,1,5,1.250000,2.750000,4.166667,3.750000,3.750000
59,4,4,4,4,5,4,5,5,2,1,...,5,5,5,4,4,3.750000,3.583333,3.833333,3.416667,4.666667
61,3,3,2,2,5,4,5,4,1,2,...,5,2,2,4,4,3.166667,3.083333,4.583333,1.666667,4.000000
62,2,2,1,1,2,2,4,2,1,1,...,4,4,4,5,4,1.750000,4.000000,3.416667,4.250000,4.416667
63,1,1,1,1,5,4,5,2,2,4,...,2,4,3,4,5,2.750000,2.916667,4.750000,1.250000,4.083333
65,2,3,2,2,4,3,4,3,3,4,...,5,5,5,5,5,3.083333,4.166667,3.583333,1.166667,5.000000
66,4,4,5,2,4,4,4,4,5,5,...,3,4,4,4,4,4.083333,4.333333,4.083333,3.083333,3.583333
67,5,5,5,5,5,5,5,5,5,5,...,5,5,5,5,5,5.000000,4.666667,5.000000,1.000000,5.000000
69,3,3,3,3,4,4,4,4,2,3,...,4,4,4,4,4,3.416667,3.416667,3.916667,3.333333,4.000000
70,4,4,2,2,2,2,4,2,2,2,...,5,4,4,5,5,2.666667,4.083333,3.083333,4.333333,4.833333
71,2,4,1,1,2,2,4,3,4,4,...,2,4,4,4,4,3.000000,3.916667,4.333333,4.166667,4.250000
72,2,4,3,1,2,3,3,3,2,3,...,2,4,4,4,4,2.666667,3.500000,3.416667,2.750000,3.750000
74,3,2,2,1,2,2,2,2,3,3,...,5,3,4,5,5,2.333333,4.500000,4.500000,3.250000,4.500000
76,4,2,4,2,2,3,1,4,2,3,...,2,1,4,1,1,2.833333,3.333333,2.916667,3.250000,2.416667
77,5,5,4,3,5,4,4,4,4,5,...,4,4,4,4,4,4.166667,4.083333,4.083333,2.583333,4.000000
78,5,5,5,5,4,3,4,4,1,4,...,1,4,5,5,5,4.166667,4.333333,3.416667,2.500000,4.500000
79,2,3,1,1,3,2,4,3,2,3,...,3,3,3,3,5,2.333333,3.416667,2.416667,3.333333,4.250000
81,5,5,5,5,5,5,4,5,5,5,...,4,5,5,5,5,4.916667,4.833333,5.000000,2.583333,4.666667
83,2,4,4,4,5,5,5,5,3,4,...,4,5,5,5,4,4.000000,2.000000,3.250000,2.000000,4.833333
87,5,1,5,5,4,5,5,5,5,5,...,5,5,5,5,5,4.583333,4.583333,4.833333,1.333333,5.000000
88,3,3,2,2,4,3,3,2,3,3,...,1,2,2,2,3,2.916667,3.500000,3.416667,2.833333,2.833333
90,4,4,2,2,4,5,3,4,3,3,...,2,2,3,2,3,3.333333,4.000000,3.250000,2.583333,2.416667

In [11]:
df_selfmon = df_selfmon.drop(labels=0, axis=0)

df_selfmon['SM1_1'] = pd.to_numeric(df_selfmon['SM1_1'])
df_selfmon['SM1_2'] = pd.to_numeric(df_selfmon['SM1_2'])
df_selfmon['SM1_3'] = pd.to_numeric(df_selfmon['SM1_3'])
df_selfmon['SM1_4'] = pd.to_numeric(df_selfmon['SM1_4'])
df_selfmon['SM2_1'] = pd.to_numeric(df_selfmon['SM2_1'])
df_selfmon['SM2_2'] = pd.to_numeric(df_selfmon['SM2_2'])
df_selfmon['SM2_3'] = pd.to_numeric(df_selfmon['SM2_3'])
df_selfmon['SM2_4'] = pd.to_numeric(df_selfmon['SM2_4'])
df_selfmon['SM3_1'] = pd.to_numeric(df_selfmon['SM3_1'])
df_selfmon['SM3_2'] = pd.to_numeric(df_selfmon['SM3_2'])
df_selfmon['SM3_3'] = pd.to_numeric(df_selfmon['SM3_3'])
df_selfmon['SM3_4'] = pd.to_numeric(df_selfmon['SM3_4'])
df_selfmon['SM3_5'] = pd.to_numeric(df_selfmon['SM3_5'])

df_selfmon["Self-Monitoring Score"] = df_selfmon.mean(axis=1)
df_selfmon

,SM1_1,SM1_2,SM1_3,SM1_4,SM2_1,SM2_2,SM2_3,SM2_4,SM3_1,SM3_2,SM3_3,SM3_4,SM3_5,Self-Monitoring Score
3,5,4,4,4,4,4,4,2,3,4,4,3,4,3.769231
4,5,4,5,3,5,2,4,3,2,5,2,4,5,3.769231
5,6,5,5,5,6,5,5,3,1,5,3,2,5,4.307692
6,4,5,3,2,5,4,4,2,2,4,2,2,5,3.384615
7,5,5,5,5,5,5,5,2,2,5,3,2,5,4.153846
9,6,6,5,6,6,6,4,1,4,4,1,5,5,4.538462
11,5,5,4,5,6,5,4,2,3,5,2,4,5,4.230769
12,4,2,3,4,4,6,4,2,3,4,3,2,4,3.461538
13,5,5,5,5,5,5,4,2,2,4,2,2,4,3.846154
14,5,4,5,4,4,5,5,2,2,5,3,4,5,4.076923
15,5,3,4,3,5,4,5,3,2,5,3,3,4,3.769231
16,3,3,3,3,4,3,3,3,4,4,3,5,3,3.384615
17,5,5,5,5,5,5,5,2,5,5,2,5,5,4.538462
18,5,4,6,6,6,5,4,2,2,5,3,3,6,4.384615
21,5,4,4,4,4,5,4,2,3,5,3,3,5,3.923077
22,5,5,5,5,4,4,4,3,2,4,3,2,5,3.923077
23,5,5,4,5,5,4,5,2,3,4,2,3,5,4.000000
27,4,3,3,3,4,4,2,3,5,3,4,5,4,3.615385
28,5,5,4,6,6,5,5,2,2,5,4,2,5,4.307692
29,3,4,5,4,3,5,1,2,6,2,3,4,2,3.384615
30,5,4,5,4,5,4,4,2,2,5,2,2,6,3.846154
32,5,5,5,5,5,5,5,2,2,5,2,2,5,4.076923
33,5,4,5,5,5,5,5,2,2,5,3,2,5,4.076923
35,5,3,4,3,3,5,4,2,3,4,4,4,3,3.615385
37,6,6,6,6,6,6,6,1,1,6,2,6,6,4.923077
40,3,4,3,4,4,3,2,3,5,4,5,4,3,3.615385
41,5,4,5,2,5,5,5,2,2,5,3,3,5,3.923077
42,3,4,5,4,3,5,4,3,3,5,3,5,4,3.923077
43,5,6,5,5,6,5,5,1,2,4,2,2,4,4.000000
44,4,5,4,4,4,3,3,3,4,5,4,5,5,4.076923
45,5,4,5,5,5,5,4,2,3,5,3,5,4,4.230769
46,4,5,4,6,5,5,5,2,5,4,1,4,5,4.230769
47,5,5,4,6,5,4,5,2,3,5,2,3,5,4.153846
49,5,4,5,3,4,4,3,4,4,4,3,3,4,3.846154
50,5,3,5,4,4,6,6,3,2,6,4,1,6,4.230769
51,5,1,2,1,6,5,2,2,2,5,3,2,5,3.153846
52,4,5,2,3,4,3,5,4,3,3,2,5,4,3.615385
53,5,5,5,5,4,4,5,2,2,5,4,2,5,4.076923
54,5,5,5,5,5,5,5,2,2,4,2,2,5,4.000000
55,4,1,2,2,2,4,3,3,3,4,5,4,4,3.153846
56,6,5,6,5,5,6,6,2,1,5,3,2,6,4.461538
58,5,4,4,5,6,6,5,1,6,6,2,5,5,4.615385
59,5,5,5,4,5,5,4,2,2,5,2,3,5,4.000000
60,5,5,5,3,6,5,4,3,2,5,4,3,5,4.230769
64,4,4,5,4,4,5,4,3,3,4,3,5,5,4.076923
65,5,4,5,4,5,5,4,1,2,4,2,2,5,3.692308
66,6,5,6,5,5,5,6,2,2,6,2,3,6,4.538462
68,5,3,5,3,4,4,5,3,2,5,4,1,5,3.769231
69,4,5,4,5,5,5,4,2,3,4,2,3,4,3.846154
71,5,5,4,5,5,5,4,3,2,4,3,2,4,3.923077
73,5,5,4,4,6,5,4,2,3,3,3,4,5,4.076923
75,6,5,4,5,4,6,6,1,3,6,3,5,4,4.461538
80,3,5,4,4,4,3,4,4,3,3,3,4,4,3.692308
82,5,5,4,5,6,5,4,3,3,5,2,2,4,4.076923
83,4,4,4,4,3,4,3,2,4,4,4,2,4,3.538462
84,5,6,4,6,6,5,4,1,2,4,2,3,5,4.076923
85,1,5,1,5,4,5,4,1,4,4,5,4,2,3.461538
86,5,5,5,5,3,3,2,2,4,3,4,3,3,3.615385
89,6,5,6,6,6,6,6,1,1,6,2,1,6,4.461538

In [12]:
df_humint = df_humint.drop(labels=0, axis=0)

df_humint['HT1_1'] = pd.to_numeric(df_humint['HT1_1'])
df_humint['HT1_5'] = pd.to_numeric(df_humint['HT1_5'])
df_humint['HT1_6'] = pd.to_numeric(df_humint['HT1_6'])
df_humint['HT1_7'] = pd.to_numeric(df_humint['HT1_7'])
df_humint['HT2_1'] = pd.to_numeric(df_humint['HT2_1'])
df_humint['HT2_8'] = pd.to_numeric(df_humint['HT2_8'])
df_humint['HT2_9'] = pd.to_numeric(df_humint['HT2_9'])
df_humint['HT2_10'] = pd.to_numeric(df_humint['HT2_10'])
df_humint['HT3_1'] = pd.to_numeric(df_humint['HT3_1'])
df_humint['HT3_11'] = pd.to_numeric(df_humint['HT3_11'])
df_humint['HT3_12'] = pd.to_numeric(df_humint['HT3_12'])
df_humint['HT3_13'] = pd.to_numeric(df_humint['HT3_13'])
df_humint['HT4_1'] = pd.to_numeric(df_humint['HT4_1'])
df_humint['HT4_11'] = pd.to_numeric(df_humint['HT4_11'])
df_humint['HT4_12'] = pd.to_numeric(df_humint['HT4_12'])
df_humint['HT4_13'] = pd.to_numeric(df_humint['HT4_13'])
df_humint['HT5_1'] = pd.to_numeric(df_humint['HT5_1'])
df_humint['HT5_11'] = pd.to_numeric(df_humint['HT5_11'])
df_humint['HT5_12'] = pd.to_numeric(df_humint['HT5_12'])
df_humint['HT5_13'] = pd.to_numeric(df_humint['HT5_13'])
df_humint['HT6_1'] = pd.to_numeric(df_humint['HT6_1'])
df_humint['HT6_11'] = pd.to_numeric(df_humint['HT6_11'])
df_humint['HT6_12'] = pd.to_numeric(df_humint['HT6_12'])
df_humint['HT6_13'] = pd.to_numeric(df_humint['HT6_13'])
df_humint['HT7_1'] = pd.to_numeric(df_humint['HT7_1'])
df_humint['HT7_11'] = pd.to_numeric(df_humint['HT7_11'])
df_humint['HT7_12'] = pd.to_numeric(df_humint['HT7_12'])
df_humint['HT7_13'] = pd.to_numeric(df_humint['HT7_13'])
df_humint['HT8_1'] = pd.to_numeric(df_humint['HT8_1'])
df_humint['HT8_11'] = pd.to_numeric(df_humint['HT8_11'])
df_humint['HT8_12'] = pd.to_numeric(df_humint['HT8_12'])
df_humint['HT8_13'] = pd.to_numeric(df_humint['HT8_13'])
df_humint['HT9_1'] = pd.to_numeric(df_humint['HT9_1'])
df_humint['HT9_11'] = pd.to_numeric(df_humint['HT9_11'])
df_humint['HT9_12'] = pd.to_numeric(df_humint['HT9_12'])
df_humint['HT9_13'] = pd.to_numeric(df_humint['HT9_13'])
df_humint['HT10_1'] = pd.to_numeric(df_humint['HT10_1'])
df_humint['HT10_11'] = pd.to_numeric(df_humint['HT10_11'])
df_humint['HT10_12'] = pd.to_numeric(df_humint['HT10_12'])
df_humint['HT10_13'] = pd.to_numeric(df_humint['HT10_13'])
df_humint['HT11_1'] = pd.to_numeric(df_humint['HT11_1'])
df_humint['HT11_11'] = pd.to_numeric(df_humint['HT11_11'])
df_humint['HT11_12'] = pd.to_numeric(df_humint['HT11_12'])
df_humint['HT11_13'] = pd.to_numeric(df_humint['HT11_13'])
df_humint['HT12_1'] = pd.to_numeric(df_humint['HT12_1'])
df_humint['HT12_11'] = pd.to_numeric(df_humint['HT12_11'])
df_humint['HT12_12'] = pd.to_numeric(df_humint['HT12_12'])
df_humint['HT12_13'] = pd.to_numeric(df_humint['HT12_13'])
df_humint['HT13_1'] = pd.to_numeric(df_humint['HT13_1'])
df_humint['HT13_11'] = pd.to_numeric(df_humint['HT13_11'])
df_humint['HT13_12'] = pd.to_numeric(df_humint['HT13_12'])
df_humint['HT13_13'] = pd.to_numeric(df_humint['HT13_13'])
df_humint['HT14_1'] = pd.to_numeric(df_humint['HT14_1'])
df_humint['HT14_11'] = pd.to_numeric(df_humint['HT14_11'])
df_humint['HT14_12'] = pd.to_numeric(df_humint['HT14_12'])
df_humint['HT14_13'] = pd.to_numeric(df_humint['HT14_13'])
df_humint['HT15_1'] = pd.to_numeric(df_humint['HT15_1'])
df_humint['HT15_11'] = pd.to_numeric(df_humint['HT15_11'])
df_humint['HT15_12'] = pd.to_numeric(df_humint['HT15_12'])
df_humint['HT15_13'] = pd.to_numeric(df_humint['HT15_13'])
df_humint['HT16_1'] = pd.to_numeric(df_humint['HT16_1'])
df_humint['HT16_11'] = pd.to_numeric(df_humint['HT16_11'])
df_humint['HT16_12'] = pd.to_numeric(df_humint['HT16_12'])
df_humint['HT16_13'] = pd.to_numeric(df_humint['HT16_13'])
df_humint['HT17_1'] = pd.to_numeric(df_humint['HT17_1'])
df_humint['HT17_11'] = pd.to_numeric(df_humint['HT17_11'])
df_humint['HT17_12'] = pd.to_numeric(df_humint['HT17_12'])
df_humint['HT17_13'] = pd.to_numeric(df_humint['HT17_13'])
df_humint['HT18_1'] = pd.to_numeric(df_humint['HT18_1'])
df_humint['HT18_11'] = pd.to_numeric(df_humint['HT18_11'])
df_humint['HT18_12'] = pd.to_numeric(df_humint['HT18_12'])
df_humint['HT18_13'] = pd.to_numeric(df_humint['HT18_13'])
df_humint['HT19_1'] = pd.to_numeric(df_humint['HT19_1'])
df_humint['HT19_11'] = pd.to_numeric(df_humint['HT19_11'])
df_humint['HT19_12'] = pd.to_numeric(df_humint['HT19_12'])
df_humint['HT19_13'] = pd.to_numeric(df_humint['HT19_13'])
df_humint['HT20_1'] = pd.to_numeric(df_humint['HT20_1'])
df_humint['HT20_11'] = pd.to_numeric(df_humint['HT20_11'])
df_humint['HT20_12'] = pd.to_numeric(df_humint['HT20_12'])
df_humint['HT20_13'] = pd.to_numeric(df_humint['HT20_13'])
df_humint['HT21_1'] = pd.to_numeric(df_humint['HT21_1'])
df_humint['HT21_11'] = pd.to_numeric(df_humint['HT21_11'])
df_humint['HT21_12'] = pd.to_numeric(df_humint['HT21_12'])
df_humint['HT21_13'] = pd.to_numeric(df_humint['HT21_13'])
df_humint['HT22_1'] = pd.to_numeric(df_humint['HT22_1'])
df_humint['HT22_11'] = pd.to_numeric(df_humint['HT22_11'])
df_humint['HT22_12'] = pd.to_numeric(df_humint['HT22_12'])
df_humint['HT22_13'] = pd.to_numeric(df_humint['HT22_13'])
df_humint['HT23_1'] = pd.to_numeric(df_humint['HT23_1'])
df_humint['HT23_11'] = pd.to_numeric(df_humint['HT23_11'])
df_humint['HT23_12'] = pd.to_numeric(df_humint['HT23_12'])
df_humint['HT23_13'] = pd.to_numeric(df_humint['HT23_13'])
df_humint['HT24_1'] = pd.to_numeric(df_humint['HT24_1'])
df_humint['HT24_11'] = pd.to_numeric(df_humint['HT24_11'])
df_humint['HT24_12'] = pd.to_numeric(df_humint['HT24_12'])
df_humint['HT24_13'] = pd.to_numeric(df_humint['HT24_13'])
df_humint['HT25_1'] = pd.to_numeric(df_humint['HT25_1'])
df_humint['HT25_11'] = pd.to_numeric(df_humint['HT25_11'])
df_humint['HT25_12'] = pd.to_numeric(df_humint['HT25_12'])
df_humint['HT25_13'] = pd.to_numeric(df_humint['HT25_13'])
df_humint['HT26_1'] = pd.to_numeric(df_humint['HT26_1'])
df_humint['HT26_11'] = pd.to_numeric(df_humint['HT26_11'])
df_humint['HT26_12'] = pd.to_numeric(df_humint['HT26_12'])
df_humint['HT26_13'] = pd.to_numeric(df_humint['HT26_13'])
df_humint['HT27_1'] = pd.to_numeric(df_humint['HT27_1'])
df_humint['HT27_11'] = pd.to_numeric(df_humint['HT27_11'])
df_humint['HT27_12'] = pd.to_numeric(df_humint['HT27_12'])
df_humint['HT27_13'] = pd.to_numeric(df_humint['HT27_13'])
df_humint['HT28_1'] = pd.to_numeric(df_humint['HT28_1'])
df_humint['HT28_11'] = pd.to_numeric(df_humint['HT28_11'])
df_humint['HT28_12'] = pd.to_numeric(df_humint['HT28_12'])
df_humint['HT28_13'] = pd.to_numeric(df_humint['HT28_13'])
df_humint['HT29_1'] = pd.to_numeric(df_humint['HT29_1'])
df_humint['HT29_11'] = pd.to_numeric(df_humint['HT29_11'])
df_humint['HT29_12'] = pd.to_numeric(df_humint['HT29_12'])
df_humint['HT29_13'] = pd.to_numeric(df_humint['HT29_13'])
df_humint['HT30_1'] = pd.to_numeric(df_humint['HT30_1'])
df_humint['HT30_11'] = pd.to_numeric(df_humint['HT30_11'])
df_humint['HT30_12'] = pd.to_numeric(df_humint['HT30_12'])
df_humint['HT30_13'] = pd.to_numeric(df_humint['HT30_13'])
df_humint['HT31_1'] = pd.to_numeric(df_humint['HT31_1'])
df_humint['HT31_11'] = pd.to_numeric(df_humint['HT31_11'])
df_humint['HT31_12'] = pd.to_numeric(df_humint['HT31_12'])
df_humint['HT31_13'] = pd.to_numeric(df_humint['HT31_13'])
df_humint['HT32_1'] = pd.to_numeric(df_humint['HT32_1'])
df_humint['HT32_11'] = pd.to_numeric(df_humint['HT32_11'])
df_humint['HT32_12'] = pd.to_numeric(df_humint['HT32_12'])
df_humint['HT32_13'] = pd.to_numeric(df_humint['HT32_13'])
df_humint['HT33_1'] = pd.to_numeric(df_humint['HT33_1'])
df_humint['HT33_11'] = pd.to_numeric(df_humint['HT33_11'])
df_humint['HT33_12'] = pd.to_numeric(df_humint['HT33_12'])
df_humint['HT33_13'] = pd.to_numeric(df_humint['HT33_13'])
df_humint['HT34_1'] = pd.to_numeric(df_humint['HT34_1'])
df_humint['HT34_11'] = pd.to_numeric(df_humint['HT34_11'])
df_humint['HT34_12'] = pd.to_numeric(df_humint['HT34_12'])
df_humint['HT34_13'] = pd.to_numeric(df_humint['HT34_13'])
df_humint['HT35_1'] = pd.to_numeric(df_humint['HT35_1'])
df_humint['HT35_11'] = pd.to_numeric(df_humint['HT35_11'])
df_humint['HT35_12'] = pd.to_numeric(df_humint['HT35_12'])
df_humint['HT35_13'] = pd.to_numeric(df_humint['HT35_13'])

df_humint

,HT1_1,HT1_5,HT1_6,HT1_7,HT2_1,HT2_8,HT2_9,HT2_10,HT3_1,HT3_11,...,HT33_12,HT33_13,HT34_1,HT34_11,HT34_12,HT34_13,HT35_1,HT35_11,HT35_12,HT35_13
2,1,4,2,3,1,4,3,2,2,3,...,2,4,3,4,2,1,3,1,2,4
3,2,4,3,1,4,2,3,1,1,3,...,2,4,2,1,3,4,2,4,3,1
8,1,4,2,3,2,3,1,4,4,1,...,3,4,1,2,4,3,3,4,2,1
9,2,3,1,4,2,4,1,3,1,3,...,3,2,1,4,3,2,2,1,3,4
10,3,4,1,2,2,3,1,4,4,2,...,3,4,1,3,4,2,2,1,3,4
11,1,3,2,4,1,3,2,4,4,2,...,4,3,3,2,4,1,2,3,1,4
12,2,3,1,4,1,3,2,4,4,1,...,1,2,4,3,1,2,2,1,3,4
14,1,3,2,4,1,2,3,4,4,1,...,4,3,1,4,2,3,3,1,2,4
16,3,1,2,4,2,4,3,1,2,4,...,3,2,3,1,4,2,1,2,4,3
19,4,3,1,2,1,3,2,4,2,1,...,2,3,1,4,3,2,4,1,3,2
20,3,2,1,4,2,3,1,4,4,2,...,1,2,2,1,4,3,2,3,1,4
21,3,2,1,4,2,1,3,4,3,1,...,2,1,2,4,3,1,3,2,1,4
24,3,4,1,2,2,1,3,4,4,1,...,4,3,2,3,4,1,3,1,4,2
26,3,2,1,4,1,3,2,4,4,1,...,3,2,1,4,3,2,3,1,4,2
27,3,2,1,4,1,3,4,2,4,1,...,1,2,3,4,2,1,2,1,3,4
29,3,2,1,4,2,4,3,1,2,3,...,1,2,1,4,3,2,3,1,2,4
31,4,1,2,3,1,3,4,2,3,2,...,1,2,1,3,2,4,4,2,1,3
34,2,3,1,4,4,3,2,1,2,4,...,2,3,2,3,1,4,1,3,4,2
36,2,3,1,4,4,2,3,1,4,3,...,3,2,3,2,1,4,4,2,1,3
37,3,2,1,4,2,4,3,1,1,3,...,2,1,1,4,2,3,3,1,2,4
38,3,2,1,4,1,3,2,4,4,2,...,3,2,4,1,3,2,2,1,4,3
39,3,2,1,4,1,3,2,4,4,3,...,1,2,2,4,3,1,2,1,3,4
40,2,1,3,4,1,4,2,3,1,3,...,2,1,1,2,3,4,1,3,2,4
42,3,4,1,2,1,4,3,2,4,3,...,4,2,1,3,2,4,1,1,3,4
43,3,4,1,2,3,2,1,4,3,1,...,4,2,2,3,4,1,1,2,4,3
45,1,2,3,4,1,3,2,4,2,3,...,2,1,2,4,3,1,1,2,4,3
48,2,4,1,3,1,3,2,4,4,2,...,3,1,1,4,3,2,1,2,3,4
49,3,4,1,2,2,3,4,1,3,2,...,2,1,2,3,4,1,4,1,2,3
53,3,2,1,4,2,3,1,4,4,1,...,2,1,1,4,3,2,1,3,2,4
54,4,1,2,3,1,2,3,4,1,2,...,4,1,4,1,3,2,4,1,2,3
56,4,3,2,1,2,3,1,4,4,1,...,1,2,1,4,3,2,4,1,2,3
57,3,4,1,2,2,4,1,3,3,2,...,1,2,1,4,3,2,3,1,2,4
58,3,2,1,4,4,3,1,2,1,2,...,2,1,1,2,3,4,3,2,4,1
60,2,3,4,1,2,3,1,4,1,3,...,1,2,2,1,3,4,4,2,3,1
61,4,1,2,3,2,4,1,3,2,1,...,2,1,1,4,3,2,3,2,1,4
62,3,4,1,2,2,3,1,4,4,3,...,2,1,2,4,3,1,2,1,3,4
63,4,1,2,3,3,1,2,4,3,1,...,1,2,3,2,4,1,2,1,3,4
64,3,2,1,4,1,2,4,3,3,2,...,1,2,1,4,3,2,1,2,3,4
67,1,4,2,3,2,4,1,3,4,1,...,3,2,1,4,3,2,2,1,4,3
68,1,4,2,3,1,3,2,4,4,3,...,4,3,1,4,3,2,1,2,4,3
70,1,3,2,4,1,3,2,4,3,2,...,2,3,1,4,3,2,2,1,3,4
72,4,3,2,1,4,2,1,3,2,1,...,2,1,1,4,3,2,2,1,4,3
73,2,4,1,3,3,2,1,4,4,1,...,4,3,4,1,3,2,2,1,4,3
74,3,2,1,4,2,3,1,4,3,2,...,1,2,3,4,1,2,2,1,4,3
75,1,4,3,2,1,3,2,4,3,2,...,1,3,1,4,2,3,3,1,2,4
76,3,1,4,2,1,4,3,2,1,3,...,1,2,4,2,3,1,2,3,4,1
77,2,4,1,3,2,4,1,3,4,3,...,4,3,4,1,3,2,3,2,4,1
78,2,4,1,3,1,3,2,4,4,1,...,4,1,1,4,3,2,2,3,4,1
79,3,4,1,2,1,3,2,4,4,2,...,4,3,4,3,2,1,1,2,3,4
80,2,1,4,3,3,2,4,1,3,1,...,3,4,2,3,4,1,1,3,2,4
81,2,3,1,4,2,4,1,3,3,1,...,2,3,2,4,3,1,4,1,2,3
82,2,4,1,3,1,2,3,4,4,3,...,3,2,3,4,2,1,3,1,2,4
84,4,2,1,3,1,3,2,4,1,3,...,1,2,1,4,3,2,2,1,3,4
85,2,3,1,4,2,1,3,4,4,3,...,3,1,4,3,2,1,2,1,3,4
86,3,4,1,2,1,2,3,4,4,1,...,2,3,2,4,3,1,3,1,2,4
87,1,4,3,2,2,4,1,3,4,3,...,4,2,4,2,1,3,1,2,3,4